<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LetsGetit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
	<!-- EduTestServlet -->
	<servlet>
		<servlet-name>EduTestServlet</servlet-name>
		<servlet-class>LetsGetIt.EduTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EduTestServlet</servlet-name>
		<url-pattern>/serv</url-pattern>
	</servlet-mapping>  	
	
	<!-- EduTestGugudan -->
	<servlet>
		<servlet-name>EduTestGugudan</servlet-name>
		<servlet-class>LetsGetIt.EduTestGugudan</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EduTestGugudan</servlet-name>
		<url-pattern>/gugudan</url-pattern>
	</servlet-mapping>  
</web-app>